@font-face {
  font-family: "Oswald";
  src: url("../../fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/static/Inter-Medium.ttf");
}

@font-face {
  font-family: "Playwrite ZA";
  src: url("../../fonts/Playwrite_ZA/static/PlaywriteZA-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

#imageContainer {
  width: 100%;
  /* height: 85vh; */
  overflow: hidden;
  position: relative;
}
#imageContainer img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
#imageContainer img.active {
  opacity: 1;
}

#nuestroequipo-parallax {
  position: relative;
  height: auto;
  overflow: hidden;
}

#nuestroequipo-parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/nuestroequipo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1; /* Ajusta la opacidad aquí */
  background-attachment: fixed;
  z-index: -1;
}

#nuestroequipo2-parallax {
  position: relative;
  height: auto;
  overflow: hidden;
}

#nuestroequipo2-parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/nosotrospage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1; /* Ajusta la opacidad aquí */
  background-attachment: fixed;
  z-index: -1;
}

#nuestroequipopage-parallax {
  position: relative;
  height: 40vh;
  overflow: hidden;
}

#nuestroequipopage-parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/nuestroequipo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1; /* Ajusta la opacidad aquí */
  background-attachment: fixed;
  z-index: -1;
}

#nuestroequipopage-parallax {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

#nuestroequipopage-parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/portada.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1; /* Ajusta la opacidad aquí */
  background-attachment: fixed;
  z-index: -1;
}

#nuestroprofepage-parallax {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

#nuestroprofepage-parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/nuestroprofe.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1; /* Ajusta la opacidad aquí */
  background-attachment: fixed;
  z-index: -1;
}

@media (min-width: 1024px) {
  #nuestroequipo-parallax {
    height: 50vh;
  }
  #nuestroequipopage-parallax {
    height: 50vh;
  }
  #nuestroprofepage-parallax {
    height: 50vh;
  }

  #nuestroequipo2-parallax {
    height: 65vh;
  }
}

@media (min-width: 1440px) {
  #nuestroequipopage-parallax {
    height: 60vh;
  }
  #nuestroprofepage-parallax {
    height: 60vh;
  }
}

.slider-resenia {
  overflow: hidden;
}

.slides-resenia {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-resenia {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#section-div-videos {
  overflow: auto;
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer y Edge */
}

#section-div-videos::-webkit-scrollbar {
  display: none; /* Para navegadores basados en WebKit */
}

#div-sticky {
  position: -webkit-sticky; /* Soporte para navegadores basados en WebKit */
  position: sticky;
  top: 96px; 
  background-color: white;
}
@keyframes bounce{
  0%, 100%{
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
     animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50%{
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@-webkit-keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  

}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@-webkit-keyframes scaleIn{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0%{
    transform: scale(0);

  }
  100%{
    transform: scale(1);
  }
}

@-webkit-keyframes scaleOut {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}